/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
  .slider .container #slider .item .text-item .text-row1 {
    font-size: 72px;
  }
  .slider .container #slider .item .text-item .text-row2 {
    font-size: 18px;
  }
  footer .container {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .slider .container #slider .item-1 .text-item .text-row1 {
    font-size: 60px;
  }
  .slider .container #slider .item-1 .text-item .text-row2 {
    font-size: 18px;
  }
  .page-content-news .row .page-content-news-inner .page-content-news-body .news-body-col:nth-child(n+1) {
    margin: 0 20px 30px 0;
  }
  .page-content-blog .container .row .page-content-blog-inner .blog-slider .blog-slider-footer .blog-slider-bottom-3 {
    display: none;
  }
  footer .footer-maps .footer-widget {
    top: 70px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .bottom-header .inner-bottom-header .search input[type="text"] {
    width: 149px;
  }
  .slider .container #slider .item-1 .text-item {
    top: 30%;
    width: 73.61111111%;
    height: 40%;
  }
  .slider .container #slider .item-1 .text-item .text-row1 {
    font-size: 51px;
    line-height: 40px;
  }
  .slider .container #slider .item-1 .text-item .text-row2 {
    font-size: 16px;
  }
  .page-content-news .row .page-content-news-inner .page-content-news-body .news-body-col {
    width: 290px;
  }
  .page-content-news .row .page-content-news-inner .page-content-news-body .news-body-col:nth-child(n) {
    margin: 0 10px 30px 0;
  }
  .page-content-news .row .page-content-news-inner .page-content-news-body .news-body-col:nth-child(2n) {
    margin: 0 0 30px 0;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body {
    padding: 0 10px 0 10px;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body .about-col {
    height: 355px;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body .about-col:nth-child(3) {
    margin-right: 0;
  }
  .page-content-blog .container .row .page-content-blog-inner .blog-text-slider .blog-triangle {
    left: 15%;
  }
  footer .container {
    padding: 0;
  }
  footer .container div {
    padding: 0;
  }
  footer .container div img {
    padding: 0;
  }
  footer .container div .row {
    margin: 0;
  }
  footer .container .bottom-footer {
    padding-left: 20px;
  }
  footer .footer-maps .footer-widget {
    top: 45px;
  }
  footer .bottom-footer .news-letter input {
    width: 245px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .bottom-header .inner-bottom-header .nav ul {
    display: none;
  }
  .bottom-header .inner-bottom-header .nav ul li:hover {
    color: #00adf0;
    border-bottom: 3px solid #00adf0;
  }
  .page-content-header-row1 {
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body {
    padding: 0 11px 0 11px;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body .about-col:nth-child(2) {
    margin-right: 0;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body .about-col:nth-child(3) {
    margin-right: 20px;
  }
  .page-content-blog .container .row .page-content-blog-inner .blog-text-slider .blog-triangle {
    left: 20%;
  }
  .page-content-blog .container .row .page-content-blog-inner .blog-text-slider .blog-text-slider-inner .blog-text-slider-text-1,
  .page-content-blog .container .row .page-content-blog-inner .blog-text-slider .blog-text-slider-inner .blog-text-slider-text-2 {
    margin-top: 10px;
  }
  footer .container .footer-widget {
    top: 15px;
    right: 15px;
  }
  footer .bottom-footer .news-letter input {
    width: 245px;
  }
  footer .footer-copyright {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 731px) {
  .slider .container #slider .item-1 .text-item {
    height: 160px;
    top: 32.22222222%;
  }
  .slider .container #slider .item-1 .text-item .text-row1 {
    font-size: 32px;
    line-height: 32px;
  }
  .slider .container #slider .item-1 .text-item .text-row2 {
    font-size: 15px;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body {
    padding: 0;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-header h2 {
    font-size: 34px;
  }
  footer .container img {
    height: 300px;
  }
}
@media only screen and (max-width: 636px) {
  .page-content-news .row .page-content-news-inner .page-content-news-body .news-body-col {
    width: 295px;
  }
  .page-content-news .row .page-content-news-inner .page-content-news-body .news-body-col:nth-child(n) {
    margin: 0 0 30px 0;
  }
  .page-content-blog .container .row .page-content-blog-inner .blog-slider .blog-slider-footer .blog-slider-bottom-2 {
    display: none;
  }
  footer .container .footer-widget {
    width: 435px;
  }
}
@media only screen and (max-width: 506px) {
  .page-content-about .container .row .page-content-about-inner .page-content-about-body .about-col {
    margin-right: 0;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body .about-col:nth-child(2) {
    margin-right: 0;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body .about-col:nth-child(3) {
    margin-right: 0;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body .about-col:nth-child(4) {
    margin-right: 0;
  }
  .bottom-header .inner-bottom-header .nav ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .slider .container #slider .item-1 .text-item {
    height: 240px;
    top: 23.33333333%;
  }
  .page-content .page-content-header {
    margin-top: 50px;
  }
  .page-content .page-content-header .page-content-header-row1 {
    font-size: 30px;
    line-height: 1.2;
  }
  .page-content .page-content-col {
    margin-top: 40px;
    padding: 0;
  }
  .page-content .page-content-col .col {
    width: 280px;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body .about-col {
    margin-right: 0;
    margin-left: 0;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-body .about-col:nth-child(4) {
    margin-right: 0;
  }
  .page-content-about .container .row .page-content-about-inner .page-content-about-header h2 {
    font-size: 25px;
  }
  .page-content-about-statistics .container .row .page-content-about-statistics-inner .page-content-about-statistics-people-skill,
  .page-content-about-statistics .container .row .page-content-about-statistics-inner .page-content-about-statistics-people {
    margin: 0 auto;
    width: 100%;
  }
  .page-content-about-statistics .container .row .page-content-about-statistics-inner .page-content-about-statistics-people .about-statistics-people-header h2 {
    font-size: 23px;
  }
  .page-content-blog .container .row .page-content-blog-inner {
    padding: 0;
  }
  .page-content-blog .container .row .page-content-blog-inner .blog-text-slider .blog-triangle {
    left: 25%;
  }
  footer .container .footer-maps {
    height: 228px;
  }
  footer .container .footer-maps img {
    display: none;
  }
  footer .container .footer-maps .footer-widget {
    margin: 0;
    right: 0;
    top: 0;
    padding: 16px;
    width: 100%;
  }
  footer .container .footer-maps button {
    bottom: -41px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 380px) {
  .page-content .page-content-header .page-content-header-row1 {
    font-size: 24px;
    line-height: 1.2;
  }
  .page-content-about-statistics .container .row .page-content-about-statistics-inner .page-content-about-statistics-people .about-statistics-people-header h2 {
    font-size: 21px;
  }
  .page-content-about-statistics .container .row .page-content-about-statistics-inner .page-content-about-statistics-people .about-statistics-people-content-img {
    padding: 0;
  }
  .page-content-about-statistics .container .row .page-content-about-statistics-inner .page-content-about-statistics-people .about-statistics-people-content-text {
    padding: 0;
    font-size: 13px;
    width: 50%;
  }
  .page-content-about-statistics .container .row .page-content-about-statistics-inner .page-content-about-statistics-people .about-statistics-people-content-inf {
    font-size: 13px;
  }
  .page-content-about-statistics .container .row .page-content-about-statistics-inner .page-content-about-statistics-people-skill .about-statistics-people-skill-header h2 {
    font-size: 21px;
  }
  .page-content-blog .container {
    padding: 0;
  }
  .page-content-blog .container .row .page-content-blog-inner .blog-text-slider {
    padding-left: 0;
    padding-right: 0;
  }
  .page-content-blog .container .row .page-content-blog-inner .blog-text-slider .blog-text-slider-inner h2 {
    padding-left: 10px;
  }
  .page-content-blog .container .row .page-content-blog-inner .blog-text-slider .blog-text-slider-inner .blog-text-slider-text-1,
  .page-content-blog .container .row .page-content-blog-inner .blog-text-slider .blog-text-slider-inner .blog-text-slider-text-2 {
    padding: 0 10px;
  }
  footer .container .footer-widget {
    height: 220px;
  }
  footer .container .footer-widget .footer-widget-header .footer-widget-header-name,
  footer .container .footer-widget .footer-widget-header .footer-widget-header-e-mail {
    display: block;
    width: 100%;
    margin-bottom: 2px;
  }
  footer .container .footer-maps {
    height: 261px;
  }
  footer .bottom-footer-toTop {
    bottom: 55px;
    right: 55px;
  }
  footer .footer-copyright {
    font-size: 11px;
  }
}
@media only screen and (max-width: 340px) {
  .page-content-news .row .page-content-news-inner .page-content-news-body .news-body-col {
    width: 285px;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .bottom-header .inner-bottom-header .nav ul {
    display: block;
  }
  .bottom-header .inner-bottom-header .nav button {
    display: none;
  }
}
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
